<!DOCTYPE HTML>
<html>
<head>

  <script type="text/javascript" >

  window.onload = function () {
    var temp="<%= section%>" ;
    alert(temp)
    var chart = new CanvasJS.Chart("chartContainer", {
      title:{
        text: "Cars on the way"              
      },
      data: [//array of dataSeries              
        { //dataSeries object
         type: "column",
         dataPoints: [
         { label: "1", y: parseInt(temp.toString())},
         { label: "2", y: 29 },
         { label: "3", y: 120 },                                    
         { label: "4", y: 34 },
         { label: "5", y: 24 },
         { label: "6", y: 24 }
         ]
       }
       ]
     });

    chart.render();

  }
  </script>
  <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</head>
<body>
  <div id="chartContainer" style="height: 300px; width: 100%;">
  </div>
</body>
</html>