<!DOCTYPE html>
<html>
<head>
  
    
   
<h2>Prediction Table</h2>


<!-- <button onclick="process()">Learn again</button> -->

<table  style="width:100%">
  
    </head>
    <style>

        table, th, td {
             border: 1px solid black;
        }

        th, td {
            padding: 15px;
        }
      
        table { background-color: #f5f246; }
       
    </style>
   <body onload="initSocket()">
  <tr>
    <th></th>
    <th>1</th>
    <th>2</th> 
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
   
  </tr>
  <tr>
    <td>1</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>2</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>3</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>4</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>5</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
  <tr>
    <td>6</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
  </tr>
</table>



<p id="demo"></p>
<h2>accurency</h2>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
 
<script>
  // 14/7 - same code as in Sender.ejs = with emit "Outcsv"->app.js and from there we activate mongo_csv
  function initSocket() {
            //socket is global
            socket = io.connect();
            alert("connected");
        }
   function sendMessage() {
           alert("csv file...");
            socket.emit("Outcsv");
   }
</script> 

<input type="button" value="BigMl->Learn again" onclick="sendMessage()" />


</body>
</html>
